.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 0px !important;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}
@media screen and (max-width: 1091px) {
    .navbar-brand{
        font-weight: 800;
        padding: 4px 0px;
        margin-right: 0;
    }
    .nav-link {
        display: block;
        padding: 0.5rem 1rem;
        margin-right: 20px !important;
    }
}